<div class="wrapper" ng-controller="PlayersController">
  <h1>Players</h1>
  <hr>
  <!-- ADDING SECTION -->
<div class="left">
    <form>
      <input type="text" name="" value="" ng-model='newPlayer.name' placeholder="Player's Name">
      <input type="submit" id="submitBtn" value="Add New Player" ng-click='addPlayer()'>
    </form>
</div>
<!-- FILTER SECTION -->
  <div class="right">
    <table>
      <tr>
        <th>Player's Name</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="x in players | filter : filter track by $index">
      <!-- <tr ng-repeat="friend in friends | orderBy:'name'">   -->
        <td><a href="#/{{x.name}}">{{ x.name }}</td>
        <td><button type="submit" id="resetBtn" name="button" ng-click="remove($index)">Delete</button></td>
      </tr>
    </table>
  </div>
</div>
